In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("labels.csv")

In [3]:
df

,patientunitstayid,predictedhospitalmortality,actualhospitalmortality,predictediculos,actualiculos
0,141265,0.052292,ALIVE,2.045514,4.2138
1,141650,0.098379,ALIVE,4.017352,4.0187
2,141806,0.613244,ALIVE,8.479934,26.9763
3,141920,0.122093,ALIVE,5.771332,2.0868
4,142096,0.023930,ALIVE,2.687273,2.1430
...,...,...,...,...,...
89118,3352643,0.096242,ALIVE,6.090826,1.5930
89119,3352737,0.644352,EXPIRED,9.115277,6.7562
89120,3352883,0.065109,ALIVE,2.320562,1.5618
89121,3353044,0.020046,ALIVE,2.010405,3.3250
89122,3353113,0.007091,ALIVE,1.553671,1.8708

In [26]:
df.loc[df['patientunitstayid'] == 3352441]

Empty DataFrame
Columns: [patientunitstayid, predictedhospitalmortality, actualhospitalmortality, predictediculos, actualiculos]
Index: []